nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: $spacingMedium 0;

    ul {
        display: flex;
        margin: 0;
        width: 100%;
        align-items: baseline;
        text-transform: uppercase;
        transition: $defaultTransition;

        a:hover,
        a:active {
            color: #fff;
            text-shadow: 2px 2px 3px #202020;
            text-decoration: none;
        }
    }

    li {
        width: max-content;
        list-style-type: none;
        cursor: pointer;
    }
}

.logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    gap: 5px;

    .logo-text {
        width: fit-content;
        transition: $defaultTransition;
    }

    .logo {
        width: $spacingMedium;
        height: $spacingMedium;
    }
}

@media only screen and (max-width: 350px) {
    nav {
        width: 60%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        ul {
            width: 80%;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: $spacingSmaller 0;
            margin-top: $spacingSmall;
            gap: $spacingSmall;

            li {
                display: inline-block;
                padding: $spacingSmaller;
                text-align: center;
                align-self: center;
                width: 100%;
                margin-top: $spacingSmaller;
                border: 2px solid $darkColorText;
            }

            li:active {
                color: $lightColorText;
                background-color: $darkColorText;
            }

            a {
                width: 100%;
            }
        }

        .blog-image {
            min-height: 150px;
            max-height: 200px;
            max-width: 310px;
        }
    }
}

@media only screen and (min-width: 351px) and (max-width: 450px) {
    nav {
        width: 90%;
        margin: 0 1em;

        ul {
            justify-content: flex-end;
            width: fit-content;

            li {
                margin-left: $spacingRegular;
                font-size: 0.9em;
            }
        }

        .logo-container {
            width: 120%;
        }
    }

    h2 {
        font-size: 0.9em;
    }

    .index-hero {
        .blog {
            min-height: 250px;
        }
    }
}

@media only screen and (min-width: 451px) {
    nav {
        .logo-container {
            margin-left: $spacingLarge;
        }

        ul {
            width: 30%;
            justify-content: space-evenly;

            li {
                margin-right: $spacingRegular;
            }
        }
    }
}

@media only screen and (min-width: 1050px) {
    .logo-container {
        .logo {
            width: 1.75em;
            height: 1.75em;
        }

        .logo-text {
            font-size: 1.25em;
        }
    }
}
