.index-hero {
    width: 100%;
    margin: 0 auto $spacingLarge auto;

    .blog {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        min-height: 35vh;
        color: $lightColorText;
    }

    .blog-title {
        font-size: $mediumFont;
        transition: $defaultTransition;
        max-width: 80%;
    }

    .blog1-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: $spacingLarge $spacingMedium $spacingMedium $spacingMedium;
        text-shadow: 1px 1px 2px #000000;
    }
}

.hero-blog {
    width: 100%;
    height: fit-content;
    
    .blog1-content {
        margin: $spacingLargest 0 $spacingLargest $spacingLargest;
        min-height: 900px;
        height: 50%;

        .blog-date {
            margin-bottom: $spacingMedium;
        }
    
        .blog-title {
            margin-bottom: $spacingRegular;
            font-size: $largeFont;
            font-weight: $boldFont;
        }
    
        .blog-image {
            width: 125%;
            text-align: center;
            position: relative;
            transform: translateX(-15%);
        }
    
        .blog-heading {
            margin: $spacingRegular 0;
            font-size: $mediumFont;
            font-weight: $boldFont;
        }
    
        .blog-content {
            margin-bottom: $spacingMedium;
            max-width: 90%;
        }
    }
}

.about-me {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: $spacingLarge 0 4em 0;

    .me-hero {
        margin: $spacingLarge 0;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .me-img {
            margin: $spacingLarge;
        }

        .me-heading {
            font-size: $largeFont;
            font-weight: $blackFont;
            width: 80%;
            margin-bottom: $spacingSmall;
        }

        .me-text {
            width: 90%;
        }
    }

    .me-details {
        margin-left: 7em;

        .details-heading {
            font-size: $mediumFont;
            font-weight: $boldFont;
            margin: $spacingRegular 0 $spacingSmall 0;
        }

        .details-paragraph {
            margin-bottom: $spacingSmall;
            width: 90%;
        }
    }
}

.content {
    height: fit-content;
    min-height: 80vh;
    padding: 0 $spacingMedium;
    margin: $spacingLargest 0 $spacingMedium 0;

    .recent-title {
        font-weight: $boldFont;
        font-size: 1.25rem;
        text-align: center;
        margin: $spacingRegular 0;
        transition: font-size 0.15s;
    }

    .blog {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 0 $spacingMedium 0;

        .blog-image {
            order: 1;
            object-fit: cover;
            height: 10em;
            min-height: 180px;
            max-height: 200px;
            min-width: 300px;
            max-width: 310px;
        }

        .blog-date {
            text-transform: uppercase;
            font-size: $smallFont;
            transition: $defaultTransition;
            margin: $spacingRegular 0 $spacingSmall 0;
            order: 2;
        }

        .blog-title {
            font-size: $regularFont;
            transition: $defaultTransition;
            margin-bottom: $spacingSmall;
            order: 3;
        }

        .blog-content {
            font-size: $smallFont;
            transition: $defaultTransition;
            max-width: 22em;
            order: 4;
        }
    }
}

.view-more {
    font-weight: $boldFont;
    text-align: center;
    text-decoration: underline;
    margin: $spacingLarge 0;
    cursor: pointer;
    transition: $defaultTransition;
}

// mobile screens
@media only screen and (max-width: 350px) {
    .index-hero {
        min-height: 250px;
        height: 300px;
        margin-bottom: 0;

        .blog {
            display: flex;
            justify-content: center;

            .blog-title {
                margin-bottom: $spacingSmall;
            }

            .blog-content {
                font-size: $smallFont;
                max-width: 90%;
            }
        }
    }

    .hero-blog {
        .blog1-content {
            margin: $spacingLargest $spacingMedium $spacingLargest $spacingMedium;

            .blog-date {
                font-size: $smallFont;
            }

            .blog-image {
                height: 25vh;
            }

            .blog-title {
                font-size: $mediumFont;
            }

            .blog-heading {
                font-size: 1.25rem;
            }

            .blog-content {
                font-size: $smallFont;
            }
        }
    }

    .about-me {
        .me-hero {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            margin: $spacingLarge $spacingLarge;

            .me-img {
                width: 50%;
                width: 50%;
                margin-left: 0;
            }

            .me-heading {
                font-size: $largeFont;
                width: 100%;
            }
        }

        .me-details {
            margin: 0 $spacingLarge;

            .details-heading {
                width: 90%;
            }

            .details-paragraph {
                margin-bottom: $spacingRegular;
            }
        }
    }


    .blogs-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .blog {
            min-height: 250px;
            .blog-image {
                width: 240px;
                min-width: 220px;
                max-width: 250px;
            }

            .blog-content {
                width: 90%;
            }
        }
    }
}

@media only screen and (min-width: 351px) and (max-width: 488px) {
    .index-hero {
        min-height: 220px;

        .blog {
            height: 300px;
            justify-content: center;
            align-items: center;

            .blog-title {
                margin-bottom: $spacingSmall;
            }

            .blog-content {
                font-size: 0.8rem;
                max-width: 80%;
            }
        }
    }

    .about-me {
        margin-top: 0;

        .me-hero {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            margin: $spacingLarge $spacingLarge;

            .me-img {
                width: 40%;
                width: 40%;
                margin-left: 0;
            }

            .me-heading {
                font-size: $largeFont;
                width: 100%;
            }
        }

        .me-details {
            margin: 0 $spacingLarge;

            .details-heading {
                width: 90%;
            }

            .details-paragraph {
                margin-bottom: $spacingRegular;
            }
        }
    }
}

// tablet and bigger
@media only screen and (min-width: 489px) and (max-width: 1150px) {
    .about-me {
        .me-hero {
            .me-img {
                width: 20%;
                max-width: 25%;
                height: 20%;
                max-height: 25%;
            }
        }
    }
}


@media only screen and (min-width: 502px) {
    .index-hero {
        height: 50vh;

        .blog {
            justify-content: flex-end;
            align-items: flex-start;
            height: 50vh;
        }

        .blog1-content {
            width: 80%;
            margin: $spacingMedium;

            .blog-date {
                font-size: $regularFont;
            }

            .blog-title {
                font-size: $largerFont;
                margin-bottom: $spacingSmall;
                max-height: 140px;
                width: 80%;
                max-width: 550px;
            }

            .blog-content {
                font-size: $regularFont;
                width: 70%;
                max-width: 400px;
            }
        }
    }

    .content {
        .blogs-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
            gap: 1em;

            .blog-date {
                font-size: $regularFont;
            }

            .blog-title {
                font-size: 1.25rem;
            }

            .blog-content {
                font-size: $regularFont;
                width: 80%;
                max-width: 300px;
            }
        }
    }

    .view-more {
        font-size: 1.25rem;
        transition: $defaultTransition;
    }
}

@media only screen and (min-width: 1050px) {
    .hero-blog {
        .blog1-content {
            .blog-image {
                height: 800px;
            }
        }
    }
    
    .content {
        min-height: 30vh;
    }
}
