// FONT FAMILY
$logoFonts: "Roboto", sans-serif;
$bodyFonts: "Source Sans 3", sans-serif;

// FONT WEIGHT
$lightFont: 300;
$regularFont: 400;
$mediumFont: 500;
$boldFont: 700;
$blackFont: 900;

// FONT SIZE
$smallFont: 0.75rem;
$regularFont: 1rem;
$mediumFont: 1.5rem;
$largeFont: 2rem;
$largerFont: 2.5rem;

// COLOR
$darkColorText: #000000;
$lightColorText: #fff;
$darkColorFooter: #202020;

// SPACING
$spacingSmaller: 0.25em;
$spacingSmall: 0.5em;
$spacingRegular: 1em;
$spacingMedium: 1.5em;
$spacingLarge: 2em;
$spacingLarger: 2.5em;
$spacingLargest: 3em;

//TRANSITION
$defaultTransition: font-size 0.15s;
