@import "./variables";
@import "./header";
@import "./main.scss";
@import "./footer.scss";
@import "./abstract.scss";

* {
    box-sizing: border-box;
}

html {
    font-family: $bodyFonts;
}


body {
    margin: 0 auto;
}

h2 {
    font-family: $logoFonts;
    font-weight: $boldFont;
    font-size: $regularFont;
    margin: 0;
}

main {
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    border-color: transparent;
    color: #000000;
    cursor: pointer;
} 

a:hover, a:active {
    color: #fff;
    text-shadow: 2px 2px 3px #202020;
    text-decoration: none;
}


footer {
    text-align: center;
    background-color: $darkColorFooter;

    h4,
    p {
        margin: 0;
    }
}



