nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 0;
}
nav ul {
  display: flex;
  margin: 0;
  width: 100%;
  align-items: baseline;
  text-transform: uppercase;
  transition: font-size 0.15s;
}
nav ul a:hover,
nav ul a:active {
  color: #fff;
  text-shadow: 2px 2px 3px #202020;
  text-decoration: none;
}
nav li {
  width: max-content;
  list-style-type: none;
  cursor: pointer;
}

.logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  gap: 5px;
}
.logo-container .logo-text {
  width: fit-content;
  transition: font-size 0.15s;
}
.logo-container .logo {
  width: 1.5em;
  height: 1.5em;
}

@media only screen and (max-width: 350px) {
  nav {
    width: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  nav ul {
    width: 80%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0.25em 0;
    margin-top: 0.5em;
    gap: 0.5em;
  }
  nav ul li {
    display: inline-block;
    padding: 0.25em;
    text-align: center;
    align-self: center;
    width: 100%;
    margin-top: 0.25em;
    border: 2px solid #000000;
  }
  nav ul li:active {
    color: #fff;
    background-color: #000000;
  }
  nav ul a {
    width: 100%;
  }
  nav .blog-image {
    min-height: 150px;
    max-height: 200px;
    max-width: 310px;
  }
}
@media only screen and (min-width: 351px) and (max-width: 450px) {
  nav {
    width: 90%;
    margin: 0 1em;
  }
  nav ul {
    justify-content: flex-end;
    width: fit-content;
  }
  nav ul li {
    margin-left: 1em;
    font-size: 0.9em;
  }
  nav .logo-container {
    width: 120%;
  }
  h2 {
    font-size: 0.9em;
  }
  .index-hero .blog {
    min-height: 250px;
  }
}
@media only screen and (min-width: 451px) {
  nav .logo-container {
    margin-left: 2em;
  }
  nav ul {
    width: 30%;
    justify-content: space-evenly;
  }
  nav ul li {
    margin-right: 1em;
  }
}
@media only screen and (min-width: 1050px) {
  .logo-container .logo {
    width: 1.75em;
    height: 1.75em;
  }
  .logo-container .logo-text {
    font-size: 1.25em;
  }
}
.index-hero {
  width: 100%;
  margin: 0 auto 2em auto;
}
.index-hero .blog {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 35vh;
  color: #fff;
}
.index-hero .blog-title {
  font-size: 1.5rem;
  transition: font-size 0.15s;
  max-width: 80%;
}
.index-hero .blog1-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2em 1.5em 1.5em 1.5em;
  text-shadow: 1px 1px 2px #000000;
}

.hero-blog {
  width: 100%;
  height: fit-content;
}
.hero-blog .blog1-content {
  margin: 3em 0 3em 3em;
  min-height: 900px;
  height: 50%;
}
.hero-blog .blog1-content .blog-date {
  margin-bottom: 1.5em;
}
.hero-blog .blog1-content .blog-title {
  margin-bottom: 1em;
  font-size: 2rem;
  font-weight: 700;
}
.hero-blog .blog1-content .blog-image {
  width: 125%;
  text-align: center;
  position: relative;
  transform: translateX(-15%);
}
.hero-blog .blog1-content .blog-heading {
  margin: 1em 0;
  font-size: 1.5rem;
  font-weight: 700;
}
.hero-blog .blog1-content .blog-content {
  margin-bottom: 1.5em;
  max-width: 90%;
}

.about-me {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2em 0 4em 0;
}
.about-me .me-hero {
  margin: 2em 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about-me .me-hero .me-img {
  margin: 2em;
}
.about-me .me-hero .me-heading {
  font-size: 2rem;
  font-weight: 900;
  width: 80%;
  margin-bottom: 0.5em;
}
.about-me .me-hero .me-text {
  width: 90%;
}
.about-me .me-details {
  margin-left: 7em;
}
.about-me .me-details .details-heading {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1em 0 0.5em 0;
}
.about-me .me-details .details-paragraph {
  margin-bottom: 0.5em;
  width: 90%;
}

.content {
  height: fit-content;
  min-height: 80vh;
  padding: 0 1.5em;
  margin: 3em 0 1.5em 0;
}
.content .recent-title {
  font-weight: 700;
  font-size: 1.25rem;
  text-align: center;
  margin: 1em 0;
  transition: font-size 0.15s;
}
.content .blog {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 0 1.5em 0;
}
.content .blog .blog-image {
  order: 1;
  object-fit: cover;
  height: 10em;
  min-height: 180px;
  max-height: 200px;
  min-width: 300px;
  max-width: 310px;
}
.content .blog .blog-date {
  text-transform: uppercase;
  font-size: 0.75rem;
  transition: font-size 0.15s;
  margin: 1em 0 0.5em 0;
  order: 2;
}
.content .blog .blog-title {
  font-size: 1rem;
  transition: font-size 0.15s;
  margin-bottom: 0.5em;
  order: 3;
}
.content .blog .blog-content {
  font-size: 0.75rem;
  transition: font-size 0.15s;
  max-width: 22em;
  order: 4;
}

.view-more {
  font-weight: 700;
  text-align: center;
  text-decoration: underline;
  margin: 2em 0;
  cursor: pointer;
  transition: font-size 0.15s;
}

@media only screen and (max-width: 350px) {
  .index-hero {
    min-height: 250px;
    height: 300px;
    margin-bottom: 0;
  }
  .index-hero .blog {
    display: flex;
    justify-content: center;
  }
  .index-hero .blog .blog-title {
    margin-bottom: 0.5em;
  }
  .index-hero .blog .blog-content {
    font-size: 0.75rem;
    max-width: 90%;
  }
  .hero-blog .blog1-content {
    margin: 3em 1.5em 3em 1.5em;
  }
  .hero-blog .blog1-content .blog-date {
    font-size: 0.75rem;
  }
  .hero-blog .blog1-content .blog-image {
    height: fit-content;
    transform: translateX(0);
    width: 100%;
  }
  .hero-blog .blog1-content .blog-title {
    font-size: 1.5rem;
  }
  .hero-blog .blog1-content .blog-heading {
    font-size: 1.25rem;
  }
  .hero-blog .blog1-content .blog-content {
    font-size: 0.75rem;
  }
  .about-me .me-hero {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 2em 2em;
  }
  .about-me .me-hero .me-img {
    width: 50%;
    width: 50%;
    margin-left: 0;
  }
  .about-me .me-hero .me-heading {
    font-size: 2rem;
    width: 100%;
  }
  .about-me .me-details {
    margin: 0 2em;
  }
  .about-me .me-details .details-heading {
    width: 90%;
  }
  .about-me .me-details .details-paragraph {
    margin-bottom: 1em;
  }
  .blogs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .blogs-container .blog {
    min-height: 250px;
  }
  .blogs-container .blog .blog-image {
    width: 240px;
    min-width: 220px;
    max-width: 250px;
  }
  .blogs-container .blog .blog-content {
    width: 90%;
  }
}
@media only screen and (min-width: 351px) and (max-width: 488px) {
  .index-hero {
    min-height: 220px;
  }
  .index-hero .blog {
    height: 300px;
    justify-content: center;
    align-items: center;
  }
  .index-hero .blog .blog-title {
    margin-bottom: 0.5em;
  }
  .index-hero .blog .blog-content {
    font-size: 0.8rem;
    max-width: 80%;
  }
  .about-me {
    margin-top: 0;
  }
  .about-me .me-hero {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 2em 2em;
  }
  .about-me .me-hero .me-img {
    width: 40%;
    width: 40%;
    margin-left: 0;
  }
  .about-me .me-hero .me-heading {
    font-size: 2rem;
    width: 100%;
  }
  .about-me .me-details {
    margin: 0 2em;
  }
  .about-me .me-details .details-heading {
    width: 90%;
  }
  .about-me .me-details .details-paragraph {
    margin-bottom: 1em;
  }
}
@media only screen and (min-width: 489px) and (max-width: 1150px) {
  .about-me .me-hero .me-img {
    width: 20%;
    max-width: 25%;
    height: 20%;
    max-height: 25%;
  }
}
@media only screen and (min-width: 502px) {
  .index-hero {
    height: 50vh;
  }
  .index-hero .blog {
    justify-content: flex-end;
    align-items: flex-start;
    height: 50vh;
  }
  .index-hero .blog1-content {
    width: 80%;
    margin: 1.5em;
  }
  .index-hero .blog1-content .blog-date {
    font-size: 1rem;
  }
  .index-hero .blog1-content .blog-title {
    font-size: 2.5rem;
    margin-bottom: 0.5em;
    max-height: 140px;
    width: 80%;
    max-width: 550px;
  }
  .index-hero .blog1-content .blog-content {
    font-size: 1rem;
    width: 70%;
    max-width: 400px;
  }
  .content .blogs-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 1em;
  }
  .content .blogs-container .blog-date {
    font-size: 1rem;
  }
  .content .blogs-container .blog-title {
    font-size: 1.25rem;
  }
  .content .blogs-container .blog-content {
    font-size: 1rem;
    width: 80%;
    max-width: 300px;
  }
  .view-more {
    font-size: 1.25rem;
    transition: font-size 0.15s;
  }
}
@media only screen and (min-width: 1050px) {
  .hero-blog .blog1-content .blog-image {
    height: 800px;
  }
  .content {
    min-height: 30vh;
  }
}
.footer-text {
  font-size: 0.75rem;
  padding: 4em;
  color: #fff;
}

* {
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  font-family: "Source Sans 3", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

body {
  margin: 0 auto;
  min-width: 60%;
  max-width: 1200px;
  background-color: #FAFAFA;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
}

main {
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  border-color: transparent;
  color: #000000;
  cursor: pointer;
}

footer {
  width: 100%;
  max-height: fit-content;
  text-align: center;
  background-color: #202020;
  margin-top: 2em;
}
footer h4,
footer p {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
