header {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 0;
}
header nav ul {
  display: flex;
  margin: 0;
  width: 100%;
  align-items: baseline;
  text-transform: uppercase;
}
header nav li {
  width: max-content;
  list-style-type: none;
  cursor: pointer;
}
header .logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  width: 95%;
  gap: 10px;
}
header .logo {
  width: 1.5em;
  height: 1.5em;
}
@media only screen and (max-width: 350px) {
  header nav {
    width: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header nav ul {
    width: 80%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0.25em 0;
    margin-top: 0.5em;
    gap: 0.5em;
  }
  header nav ul li {
    display: inline-block;
    padding: 0.25em;
    text-align: center;
    align-self: center;
    width: 100%;
    margin-top: 0.25em;
    border: 2px solid #000000;
  }
  header nav ul li:active {
    color: #fff;
    background-color: #000000;
  }
  header nav ul a {
    width: 100%;
  }
  header nav .blog-image {
    min-height: 150px;
    max-height: 200px;
    max-width: 310px;
  }
}
@media only screen and (min-width: 351px) and (max-width: 450px) {
  header nav {
    width: 90%;
    margin: 0 1em;
  }
  header nav ul {
    justify-content: flex-end;
    width: fit-content;
  }
  header nav ul li {
    margin-left: 1em;
    font-size: 0.9em;
  }
  header nav .logo-container {
    width: 120%;
  }
  header h2 {
    font-size: 0.9em;
  }
  header .hero .blog {
    min-height: 250px;
  }
}
@media only screen and (min-width: 451px) {
  header nav .logo-container {
    margin-left: 1em;
  }
  header nav ul {
    width: 30%;
    justify-content: space-around;
  }
  header nav ul li {
    margin-right: 1em;
  }
}

.hero {
  width: 100%;
  margin: 0 auto 2em auto;
}
.hero .blog {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
}
.hero .blog-title {
  font-size: 1.5rem;
  max-width: 80%;
}
.hero .blog1-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2em 1.5em 1.5em 1.5em;
  text-shadow: 1px 1px 2px #000000;
}

.content {
  min-height: 1050px;
  padding: 0 2em;
  margin: 3em 0 0 0;
}
.content .blog {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 0 1.5em 0;
}

.blog-image {
  order: 1;
  object-fit: cover;
  height: 10em;
  min-height: 180px;
  max-height: 200px;
  min-width: 300px;
  max-width: 310px;
}

.blog-date {
  text-transform: uppercase;
  font-size: 0.75rem;
  margin: 1em 0 0.5em 0;
  order: 2;
}

.blog-title {
  font-size: 1rem;
  margin-bottom: 0.5em;
  order: 3;
}

.blog-content {
  font-size: 0.75rem;
  max-width: 22em;
  order: 4;
}

.view-more {
  font-weight: 700;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 2em;
  cursor: pointer;
}

@media only screen and (max-width: 350px) {
  .hero {
    min-height: 250px;
    height: 300px;
    margin-bottom: 0;
  }
  .hero .blog {
    display: flex;
    justify-content: center;
  }
  .content {
    width: 20em;
  }
  .blogs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .blogs-container .blog {
    min-height: 250px;
  }
  .blogs-container .blog .blog-image {
    width: 240px;
    min-width: 220px;
    max-width: 250px;
  }
}
@media only screen and (min-width: 351px) and (max-width: 488px) {
  .hero {
    min-height: 220px;
  }
  .hero .blog {
    height: 300px;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (min-width: 490px) {
  .hero {
    height: 50vh;
  }
  .hero .blog {
    justify-content: flex-end;
    align-items: flex-start;
  }
  .hero .blog1-content {
    width: 80%;
    margin: 1.5em;
  }
  .hero .blog1-content .blog-date {
    font-size: 1rem;
  }
  .hero .blog1-content .blog-title {
    font-size: 2.5rem;
    width: 70%;
  }
  .hero .blog1-content .blog-content {
    font-size: 1rem;
    width: 70%;
  }
  .content {
    margin: 0 auto;
    min-height: fit-content;
  }
  .content .blogs-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    gap: 1em;
  }
  .content .blogs-container .blog-date {
    font-size: 1rem;
  }
  .content .blogs-container .blog-title {
    font-size: 1.25rem;
  }
  .content .blogs-container .blog-content {
    font-size: 1rem;
    min-width: 70%;
    max-width: 80%;
  }
  .view-more {
    font-size: 1.25rem;
  }
}
.footer-text {
  font-size: 0.75rem;
  padding: 2.5em;
  color: #fff;
}

.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
* {
  box-sizing: border-box;
}

html {
  font-family: "Source Sans 3", sans-serif;
}

body {
  margin: 0 auto;
  min-width: 60%;
  max-width: 1200px;
  align-self: center;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
}

main {
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  border-color: transparent;
  color: #000000;
  cursor: pointer;
}

a:hover, a:active {
  color: #fff;
  text-shadow: 2px 2px 3px #202020;
  text-decoration: none;
}

footer {
  width: 100%;
  text-align: center;
  background-color: #202020;
}
footer h4,
footer p {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
